<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加用户</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<section class="section">
    <div id="app" class="container">
        <h1 class="title">添加用户</h1>
        <form @submit.prevent="addUser" class="box">
            <div class="field">
                <label class="label" for="username">用户名:</label>
                <div class="control">
                    <input class="input" type="text" id="username" v-model="user.username" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="password">密码:</label>
                <div class="control">
                    <input class="input" type="password" id="password" v-model="user.password" required>
                </div>
            </div>

            <div class="field">
                <label class="label" for="role">角色:</label>
                <div class="control">
                    <div class="select">
                        <select id="role" v-model="user.role">
                            <option value="0">管理员</option>
                            <option value="1">用户</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">添加</button>
                </div>
            </div>
        </form>

        <p v-if="addUserMessage" class="notification is-danger">{{ addUserMessage }}</p>
    </div>
</section>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            user: {
                username: '',
                password: '',
                role: '0'
            },
            addUserMessage: ''
        },
        methods: {
            addUser() {
                axios.post('/addUser', this.user)
                    .then(response => {
                        const addUserResult = response.data;
                        if (addUserResult === 1) {
                            // 添加成功，跳转到admin.html
                            window.location.href = '/admin.html';
                        } else if (addUserResult === 2) {
                            this.addUserMessage = '用户名已存在.';
                        } else if (addUserResult === 3) {
                            this.addUserMessage = '用户名和密码不能为空.';
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
        }
    });
</script>
</body>

</html>
